
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  header {
      display: flex;
       justify-content: space-between;
       align-items: center;
      /*margin-left: 112px;
      margin-right: 112px;
      margin-top: 40px;
      margin: 40px 112px 13px 112px; */

  }

  header nav a {
    color: #000;
    text-decoration: none;
    margin: 20px;

  }
  header nav {
display: none;
  }
  .nav-links .link {
    margin-right: 4px;
  }
  .intro-h1  span {
color: #FF8A56;
  }
  .introduction {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  section div h1 {
    font-size: 47px;
  }
  section div p {
    font-size: 21px;
    margin-top: 27px;
  }
  .introduction-right-side {
    width: 500px;
  }
  .introduction-right-side img {
width: 100%;
  }
  .intro-left-side img {
    margin-left: 15px;
  }

  .introduction-left-side p {
    color: #666;
  }
  section div .book-a-call{
    color: #fff;
    background: #000;
    text-decoration: none;
    display: inline-flex;
    width: 151px;
    height: 58px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    border-radius: 4px;
  }
  .cv {
    margin-left: 20px;
    color: #000;
    text-decoration: none;
    margin-top: 45px;
  }
  .ox-class {
    margin-left: 4px;
  }

 .introduction > .intro-left-side h1 {
color: #FF8A56;
;
 }
 .introduction .intro-left-side h1 {
  font-size: 4.5rem;
 }
 .intro-left-side {
  width: 500px;
 }
 .shirketler h5 {
  text-align: center;
  margin-bottom: 30px;
 }
 .partnyorlar{
  display: flex;
  justify-content: space-around;
 }
 .shirket1{
  display: none;
 }
 .shirket2{
  display: none;
 }


 /* project section */
 
 
 .project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
 }
 .all-cards {
  width: 290px;
  height: 400px;
  border: 1px;
  border-radius: 4px;
 }



 /* blogs section  */

 .dark {
  background-color: #222;
  color:#fff;
  margin-top: -100px;
 }

 .blog {
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
 }

 /* blogs section end */
@media screen and (min-width:768px) {
  header nav {
    display: flex;
    gap: 3px;
    align-items: center;
  }
  .fa-bars {
    display: none !important;
  }
  .introduction {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .introduction .introduction-left-side h1 {
    font-size: 3rem;
  }
  .shirket1{
    display: flex;
  }
  .shirket2{
    display: flex;
  }
}

@media(min-width: 992px) {
  .introduction .introduction-left-side h1 {
    font-size: 4.5rem;
  }

  .portnyorlar {
    display: flex;
    justify-content: space-around;
  }
}

@media(min-width:1024px) {
 .dark {
  padding-top: 230px;
    margin-top: -219px;
 }
}


@media(min-width:1280px) {
  .fa-bars {
    display: none !important;
  }
  
}
